/* Table.css */
.table-container {
    width: 100%;
    overflow: auto;
    max-height: 80vh; /* Установите максимальную высоту для вертикального скролла */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  td:first-child, th:first-child {
    position: sticky;
    left: 0;
    background-color: #f2f2f2;
    z-index: 2;
  }